<div *ngIf="product" class="container mt-4">
  <h1 style="text-align: center;">Product Details</h1>
  <div class="card">
    <div class="card-body">
      <p class="card-text">Discogs ID: {{ product.discogs_id }}</p>
      <p class="card-text">Title: {{ product.title }}</p>
      <p class="card-text">Artist: {{ product.artist }}</p>
      <p class="card-text">Release Year: {{ product.release_year }}</p>
      <p class="card-text">Genre: {{ product.genre }}</p>
      <p class="card-text">Styles: {{ product.styles }}</p>
      <button class="btn btn-secondary" (click)="goBack()">Back to List</button>
    </div>
  </div>
</div>
